:root { 
    --background-color-navy: #2E2F42;
}


body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.web {
    color: #4D5AE5;
}

p,h1,h2,h3,h4 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img{
    display: block;
}

button{
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



/*======================HEADER========================*/

.page-header-container{
    display: flex;
    align-items: center;
}


.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}

.header-navigation {
    display: flex;
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    color: #2E2F42;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.header-list {
    display: flex;
}

.list {}

.header-item:not(:last-child) {
    margin-right:40px;
}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-link:is(:hover, :focus) {
    color: #404BBF;
}

.header-address {
    margin-left: auto;
}

.header-contact-list {
    display: flex;
}

.header-contact-item {}

.header-contact-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: 40px;
}


.header-contact-link:is(:hover, :focus) {
     color: #404BBF;
}

/*======================MAIN=PAGE=======================*/
/*======================ORDER========================*/
.order {
    background-color:var(--background-color-navy);
    padding-top: 188px;
    padding-bottom: 188px;
}

.order-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
}

.order-btn {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
}

.order-btn:is(:hover, :focus) {
    background-color: #404BBF;
}

/*======================FEATURES========================*/

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-title {}

.features-list {
    display: flex;
    justify-content: space-between;
}

.features-item {}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.features-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    max-width: 264px;
}

/*======================ACTIVITY========================*/

.activity {
    padding-bottom: 120px;
}

.activity-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.activity-list {
    display: flex;
    gap: 24px;
}

.activity-item {
    width: calc(100%-48px)/3;
}

.activity-img {}


/*======================TEAM========================*/

.team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    width: calc(100%-72px)/4;
}

.team-img {}

.team-wrap {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #FFFFFF;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
}

.team-soc-link:is(:hover, :focus) {
    background-color: #404BBF;
}

/*======================CUSTOMERS========================*/


.customers {
    padding-top: 130px;
    padding-bottom: 120px;
}

.customers-title {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    padding-bottom: 72px;
}

.customers-list {
    display: flex;
    gap: 24px;
}

.customers-item {
    width: 168px;
    height: 88px;
}

.customers-item {
    width: calc(100%-120px)/6;
}

.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customers-icon {
    fill: #8E8F99;
}

.customers-link:is(:hover, :focus) {
    border-color: #404BBF;
}

.customers-link:is(:hover, :focus) .customers-icon {
    fill: #404BBF;
}






/*======================PORTFOLIO========================*/

/*======================SPECIALITY========================*/

.page-2 {}

.page-2-container{
    padding-top: 96px;
    padding-bottom: 120px;
}

.speciality {}

.speciality-filter {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.speciality-filter-item {
    width: calc(100%-96px)/5;
}

.speciality-btn {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color: #F4F4FD;
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}

.speciality-btn:is(:hover, :focus) {
    background-color: #404BBF;
    color: #FFFFFF;
}

.speciality-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.speciality-item {
    width: calc(100%-48px)/3;
}

.speciality-link {}

.speciality-img {}

.speciality-wrap {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
}

.speciality-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.speciality-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}




/*======================FOOTER========================*/

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color:var(--background-color-navy);
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    color: #F4F4FD;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    max-width: 264px;
}